@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");

body {
}
.container {
  background: white;
  opacity: 0.9;
}

.title {
  font-family: "Crimson Text", serif;
  font-size: 200%;
  color: #22cfcf;
}

.profile-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.pub {
  font-family: "Open Sans", sans-serif;
  font-size: 50%;
  font-weight: 300;
  color: black;
  line-height: 130%;
  display: inline-block;
}

.pub_author {
  font-family: "Open Sans", sans-serif;
}

.pub_publisher {
  font-family: "Open Sans", sans-serif;
}
.pu_title {
  font-weight: 700;
}

.introduction {
  font-family: "Crimson Text", serif;

  font-size: 250%;
  color: #22cfcf;
}

.fab {
  font-size: 250%;
}

.profile-image {
  height: 100%;
  width: auto;
}

.link {
  font-size: 90%;
  font-weight: 800;
  padding: 0.5%;
}

.iconList {
  padding-top: 3%;
}

.icon_ {
  padding-right: 2%;
  display: inline-block;
  font-size: 200%;
  color: #ccd1d1;
}
