@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Work+Sans:wght@200;300;400;500;800&display=swap");

body {
}
.container {
  background: white;
  opacity: 0.9;
}

.title {
  font-family: "Work Sans", sans-serif;
  font-size: 200%;
  font-weight: 500;
  color: #22cfcf;
}

.align-item {
  align-items: center;
}

.profile-item {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.pub {
  font-family: "Work Sans", sans-serif;
  font-size: 50%;
  font-weight: 300;
  color: black;
  line-height: 130%;
  display: inline-block;
}

.pub_author {
  font-family: "Work Sans", sans-serif;
}

.pub_publisher {
  font-family: "Work Sans", sans-serif;
}
.pu_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.introduction {
  font-family: "Fredericka the Great", cursive;

  margin: 5%;
  text-align: center;
  font-size: 320%;
  color: #22cfcf;
}

.fab {
  font-size: 250%;
}

.profile-image {
  height: 100%;
  width: auto;
  border-radius: 10000px;
  overflow: hidden;
}

.link {
  font-size: 90%;
  font-weight: 800;
  padding: 0.5%;
}

.iconList {
  padding-top: 3%;
}

.icon_ {
  padding-right: 2%;
  display: inline-block;
  font-size: 200%;
  color: #ccd1d1;
}

.overview-introduction {
  display: block;
}

.overview-updatenews {
  display: block;
}
